.product-form-container {
    width: 100%;
    align-items: center;
    
    background-color: #f5f5f5; // Light background color
  }
  
  .product-form-card {
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #fff; // White background for the card
  
    mat-card-title {
      text-align: center; // Center the title
      font-size: 24px; // Font size of the title
    }
  
    mat-form-field {
      width: 100%; // Full width for form fields
      margin-bottom: 20px; // Space between fields
    }
  }