<div class="user-management-container">
    <form [formGroup]="userFilterForm" (ngSubmit)="onFilter()">
        <mat-form-field>
          <mat-label>Keyword</mat-label>
          <input matInput formControlName="keyword" name="keyword">
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDate" formControlName="startDate" name="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDate" formControlName="endDate" name="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      
        <button mat-raised-button color="primary" type="submit">Filter</button>
      </form>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Created At </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date:'MM/dd/yyyy hh:mm a' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let user">
              <button mat-raised-button color="{{ user.isActive ? 'warn' : 'primary' }}" (click)="toggleUserStatus(user)">
                {{ user.isActive ? 'InActive' : 'Active' }}
              </button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row no-record-found" *matNoDataRow>
            <td class="mat-cell" colspan="4">Record not found</td>
        </tr>
      </table>
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="limit"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)">
      </mat-paginator>

      <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>